@tailwind base;
@tailwind components;
@tailwind utilities;


.bb{
    background-image url('./img/h3.png') ;
    background-size: cover;
    
}
.hh{
 color: azure;
}
.about{
    background-image: url('./img/about1.jpg');
    background-size: cover;
}